In [23]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os

In [42]:
os.getcwd() #cwd - current working directory

'/Users/estimatic/SynologyDrive/- Личные проекты/Python'

In [43]:
os.chdir('/Users/estimatic/SynologyDrive/- Личные проекты')

In [44]:
os.getcwd()

'/Users/estimatic/SynologyDrive/- Личные проекты'

In [45]:
os.chdir('/Users/estimatic/SynologyDrive/- Личные проекты/Python')

In [46]:
os.getcwd()

'/Users/estimatic/SynologyDrive/- Личные проекты/Python'

In [47]:
os.path.abspath('.') #вернет строку с Абсолютным путем (конвертирует Относительный путь в АП), "." означает - "ЭТА ДИРЕКТОРИЯ

'/Users/estimatic/SynologyDrive/- Личные проекты/Python'

In [48]:
?pd

In [19]:
??pd

In [49]:
Testdrive = pd.read_csv("2019-06-07_ciancommercial test.csv",delimiter=';')

In [50]:
Testdrive.head() #можно указать количество строк

         od  Floor Class    Price  Price per sqm
0  10280465      3     B    44555          10693
1   1076098      8     B    10000          12000
2  11464277      3     B    35900          12000
3  11469941      3   NaN    12117           7270
4  11776091      1   NaN  1599600          14400

In [51]:
print(Testdrive)

           od  Floor Class    Price  Price per sqm
0    10280465      3     B    44555          10693
1     1076098      8     B    10000          12000
2    11464277      3     B    35900          12000
3    11469941      3   NaN    12117           7270
4    11776091      1   NaN  1599600          14400
5     1181739      4     C    37002          14096
6    12050225      2   NaN   178934          11000
7     1250057      3     C    20002          19836
8     1324039      3    B+   588000          32000
9    13582584      2   NaN   105000          18000
10   13668675      9    B+   328045          14799
11  136771429      7     B   618700           6900

In [15]:
??pd.read_csv